@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/NanumGothic/NanumGothic-Regular.eot);
    src: url(./fonts/NanumGothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(./fonts/NanumGothic/NanumGothic-Regular.woff2) format('woff2'),
         url(./fonts/NanumGothic/NanumGothic-Regular.woff) format('woff'),
         url(./fonts/NanumGothic/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic Bold';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/NanumGothic/NanumGothic-Bold.eot);
    src: url(./fonts/NanumGothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/NanumGothic/NanumGothic-Bold.woff2) format('woff2'),
         url(./fonts/NanumGothic/NanumGothic-Bold.woff) format('woff'),
         url(./fonts/NanumGothic/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic exBold';
    font-style: normal;
    font-weight: 800;
    src: url(./fonts/NanumGothic/NanumGothic-ExtraBold.eot);
    src: url(./fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/NanumGothic/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(./fonts/NanumGothic/NanumGothic-ExtraBold.woff) format('woff'),
         url(./fonts/NanumGothic/NanumGothic-ExtraBold.ttf) format('truetype');
  }

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
}

body
{
    font-family: 'Nanum Gothic';    
}

h1
{
    font-family: 'Nanum Gothic exBold';    
    /*font-size: large;*/
    /*color: red;*/
    font-weight:bolder;

}

h2
{
    font-family: 'Nanum Gothic exBold';        
    /*color: red;*/
    font-weight:bolder;

}

h3
{
    font-family: 'Nanum Gothic exBold';
    /*color: green;*/
    font-weight: bolder;
    
}

p
{
    font-family: 'Nanum Gothic', sans-serif;    
    font-weight:400;
}

img {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px; 
  }